<h3>Editar Categoria</h3>

<%= render 'form', categoria: @categoria %>

<%= link_to 'Mostrar', @categoria, class: 'btn btn-default' %> |
<%= link_to 'Voltar', categorias_path, class: 'btn btn-default glyphicon glyphicon-chevron-left' %>
