<h3>Editar Produto</h3>

<%= render 'form', produto: @produto %>

<%= link_to 'Mostrar', @produto, class: 'btn btn-default' %> |
<%= link_to 'Voltar', produtos_path, class: 'btn btn-default glyphicon glyphicon-chevron-left' %>
